<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobit.eemr"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >


    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        >
        <activity android:label="Optik Port Okuma" android:name="mobit.eemr.OpticMeterReadActivity">
        </activity>
    </application>

</manifest>
